/**
* Project: Snapstone
* @authors 			Alex Cadigan
* @created 			10/17/2017
* @description 		This file contains all of the CSS code for the About page
*/

/**
* This styles the version number of Snapstone
*/
#lblVersion
{
	text-align: center;
	font-size: 25%;
	padding-bottom: 25px;
}

/**
* This styles the what is Snapstone question
*/
#lblIntroQ
{
	text-align: center;
	color: blue;
	font-weight: bold;
	padding-bottom: 25px;
}

/**
* This styles the answer to what is Snapstone
*/ 
#lblIntroA
{
	text-align: center;
	padding-bottom: 25px;
}

/**
* This styles the what's with the name question
*/
#lblNameQ
{
	text-align: center;
	color: blue;
	font-weight: bold;
	padding-bottom: 25px;
}

/**
* This styles the answer to the what's with the name question
*/
#lblNameA
{
	text-align: center;
	padding-bottom: 25px;
}

/**
* This styles the what Snapstone is built on label
*/
#lblBuiltOn
{
	text-align: center;
	color: blue;
	font-weight: bold;
	padding-bottom: 25px;
}

/**
* This styles the see source code label
*/
#lblCode
{
	padding-top: 25px;
	text-align: center;
	color: blue;
	font-weight: bold;
	padding-bottom: 25px;
}

/**
* This styles the developers information header
*/
#lblDevelopers
{
	padding-top: 25px;
	text-align: center;
	color: blue;
	font-weight: bold;
	padding-bottom: 25px;
}

/**
* This styles Preston's name
*/
#lblPreston
{
	text-align: center;
	color: red;
	padding-bottom: 25px;
}

/**
* This styles Danny's name
*/
#lblDanny
{
	padding-top: 25px;
	text-align: center;
	color: red;
	padding-bottom: 25px;
}

/**
* This styles Lionel's name
*/
#lblLionel
{
	padding-top: 25px;
	text-align: center;
	color: red;
	padding-bottom: 25px;
}

/**
* This styles Alex's name
*/
#lblAlex
{
	padding-top: 25px;
	text-align: center;
	color: red;
	padding-bottom: 25px;
}

/**
* This styles the license label
*/
#lblLicense
{
	padding-top: 25px;
	text-align: center;
	color: blue;
	font-weight: bold;
	padding-bottom: 25px;
}

/**
* This styles the blank label at the end of the page
*/
#lblBlank
{
	padding-top: 50px;
}
