/*
 *  @file         ::  app/app.css
 *  @authors      ::  Preston Wang-Stosur-Bassett <preston.wang-stosur-bassett14@kzoo.edu>, (IF YOU EDIT THIS FILE, ADD YOUR NAME TO THIS LIST, AND THEN A METHOD OF CONTACT)
 *  @created      ::  Sept 24, 2017
 *  @updated      ::  Sept 30, 2017 - Preston Wang-Stosur-Bassett (IF YOU EDIT THIS FILE, REPLACE THIS LINE WITH YOUR NAME AND THE DATE, AND ADD YOUR NAME TO AUTHORS)
 *  @description  ::  This file contains the main styles for all pages in the app. Button size, text size, button color, etc is declared in this file.
*/

/* Import NativeScript's prebuilt theme Ruby */
@import '~/nativescript-theme-core/css/ruby.css';

btn {
  font-size: 18
}

/* Styles for the Floating Action Button on the main page that launches the camera. */
.fab {
    height: 70;
    width: 70;
    margin: 15;
    background-color: #FF1734;
    horizontal-align: right;
    vertical-align: bottom;
}
