/**
* Project: Snapstone
* @authors 			Lionel Niyongabire
* @created 			10/23/2017
* @description 		This file contains the CSS code for the Sign Up page
*/

/**
   Style the text fields
*/
StackLayout TextField 
{
    margin: 4;
   
}

/**
   Style the sign up button
*/

StackLayout Button 
{
    margin: 4;
    background-color: red;
   
}

/**
   Style  StackLayout
*/

StackLayout
{
    vertical-align:middle; 
    
}